.pedido{
    display: flex;
    gap: 1rem;
    width: clamp(320px, 75vw, 75vw);
    padding: 0.5em;
    margin: 1.3rem;
}
.numeroPedido{
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    flex: 50%;
}
.estadoHeader{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 50%;
}

.estadoPedido{
    white-space: nowrap;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
}
.badgePedido{
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    padding: 0.2em 0.5em;
    background-color: rgba(255, 128, 0, 0.719);
    color: #ffffff;
    border-radius: 999px;
}
/* ---------------------------------- */
.card {
  padding: 2em 1.6em;
  width: clamp(340px, 77vw, 77vw);
  text-align: left;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}
.datos-container{
    width: 50%;
}
.titulo-header{
    font-size: clamp(1rem, 1.3vw, 1.3rem);
}
.datos-header{  
    display: flex;
    padding: 0.5em 0;
    
}
.datos-header img {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    object-fit: cover;
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.6em;
}
.texto_principal{
    font-size: clamp(0.95rem, 1vw, 1.1rem);
    font-weight: bold;
}
.texto_secundario{
    color: var(--user-name-brown);
    font-size: clamp(0.8rem, 0.9vw, 1rem);
}

.map-icon-container {
    width: 4em;
    height: 4em;
}

.map-icon-container > i {
    font-size: 2.5em;
}
dl {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
/* --------------------------------- */
.resumen{
    flex-direction: column;
}
.resumen-atributtes{
    width: 100%;
    border-bottom: 1px solid var(--color-sombra);
    display: flex;
    align-items: center;
    padding: 1.3em 3em 1.3em 1.3em;
}
.card-table-detalle-pedido-detalle-pedido {
  border: 1px solid var(--color-sombra);
  border-radius: 1rem;
  border-spacing: 0;
}
td.descripcion-header {
    display: flex;
}
.card-table-detalle-pedido-detalle-pedido th.plato,
.card-table-detalle-pedido td.descripcion-header {
    width: 60%;
}

.card-table-detalle-pedido th.cantidad,
.card-table-detalle-pedido td.table-item-name {
    width: 20%;
    justify-content: center;
}

.card-table-detalle-pedido th.precio,
.card-table-detalle-pedido td.table-item-cost {
    width: 20%;
    justify-content: center;
}

.card-table-detalle-pedido-body .resumen-atributtes:last-child {
  border-bottom: none;
}
.table-item-name,
.table-item-cost,
.table-action-items,
.texto-tabla{
    font-size: clamp(0.7rem, 1vw, 1.1rem);
}
.img-plato{
    border-radius: .5em;
    width: 3em;
    height: 3em;
    object-fit: cover;
}
/* ------------------------------ */
.pago {
    flex-direction: column;
}
.lista-pago{
    width: 100%;
    gap: 1rem;
}
.filaPago {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}
.item-pago{
    font-size: clamp(0.8rem, 0.9vw, 1rem);
}
.total {
    border-top: 1px solid var(--color-sombra);
    padding: 1em 0em;
    margin-top: 0em;
    border-bottom: 1px solid var(--color-sombra);
    font-size: clamp(1rem, 1.3vw, 1.3rem);
}
.metodoPago{
    display: flex;
    align-items: center;
}
.metodoPago > i {
    font-size: 2rem;
    padding-right: 0.6rem;
}
.button-container{
    width: clamp(340px, 77vw, 77vw);
    display: flex;
    justify-content: flex-end;
    height: 2rem;
}
@media (max-width: 541px) {
    .pedido{
    flex-wrap: wrap;
    }
    .card {
        flex-direction: column;
    }
    .datos-container {
        width: 100%;
    }
    .resumen td.descripcion-header img {
        display: none;
   }

   .resumen td.descripcion-header .descripcion p.texto_secundario {
        display: none;
   }
   .producto{
        padding-left: 0em;
   }
   .resumen-atributtes{
        padding: 1em;
   }
}