:root {
  --page-width: 70vw;
}

.main-content-container {
  width: 100%;
  padding-bottom: 1.5em;
  padding-top: 1.65em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.main-card-title {
  width: var(--page-width);
  min-width: 300px;
}

.card {
  padding: 2em;
  height: auto;
  width: var(--page-width);
  min-width: 340px;
}

.card-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  min-width: 340px;
}

.input-form {
  flex: 1 1 60%;
  min-width: 290px;
}

.input-label {
  width: 90%;
}

.input {
  height: 3em;
}

.image-wrapper {
  flex: 1 1 40%;
}


.imagen-local {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  width: 100%;
  font-size: 1.35em;
  text-align: left;
}

.input-container {
  width: 100%;
  margin: 0;
}

.direccion-input-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 1em;
  width: 100%;
}

.porcentajes-input-container {
  width: 100%;
  margin-top: .5em;
  display: flex;
  gap: 1em;
}

.pago-checkbox-container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  gap: 2em;
}

.pago-checkbox-item {
  display: flex;
  gap: .5em;
  align-items: center;
}

.pago-checkbox-item>input {
  width: 2em;
  height: 2em;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 75vw;
  gap: 1em;
  height: 2.5em;
}

/* Mobile */
@media (max-width: 425px) {
  .buttons-container {
    height: auto;
  }

  .main-content-container *:not(.pago-checkbox-item, .buttons-container) {
    flex-direction: column;
  }

  .main-content-container {
    font-size: .8em;
  }

  .card-row {
    align-items: center;
  }

  main {
    padding-bottom: 2em;
  }

  .direccion-input-container {
    display: flex;
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 426px) and (max-width: 768px) {
  .buttons-container {
    height: auto;
  }

  .main-content-container {
    font-size: .8em;
  }

  .card {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}